  <h2> Something League - Group X</h2>

  <div id='leftdiv'>
    <div id='teamstrength'>
      <h3> Team Strength <span id='helpstrength'>(?)</span></h3>
      <table class='table'>
        <colgroup>
          <col class='clubname'>
          <col class='country'>
          <col class='coefcol'>
          <col class='coefcol'>
          <col class='coefcol'>
          <col>
        </colgroup>
        <tr><th> Team   <th> <th title='UEFA team coefficient' class='coef'> TC <th title='UEFA country coefficient' class='coef'> CC <th title='Estimated skill' class='coef'> Sk <th> Adjust skill <span id='helpskill'> (?) </span>
        <tr><td> Team 1 <td> <img src='img/den.png' title='Den'> <td class='coef'> 0 <td class='coef'> 0 <td class='coef'> 0 <td> <input type="range" min="0" max="20" step=".1" value="10">
        <tr><td> Team 2 <td> <img src='img/den.png' title='Den'> <td class='coef'> 0 <td class='coef'> 0 <td class='coef'> 0 <td> <input type="range" min="0" max="20" step=".1" value="10">
        <tr><td> Team 3 <td> <img src='img/den.png' title='Den'> <td class='coef'> 0 <td class='coef'> 0 <td class='coef'> 0 <td> <input type="range" min="0" max="20" step=".1" value="10">
        <tr><td> Team 4 <td> <img src='img/den.png' title='Den'> <td class='coef'> 0 <td class='coef'> 0 <td class='coef'> 0 <td> <input type="range" min="0" max="20" step=".1" value="10">
      </table>
    </div>
    <div id='matchlist'>
      <h3> List of group matches <span id='helpmatch'>(?)</span></h3>
      <table>
        <tr><th> # <th> Home   <th>   <th> Away   <th colspan='3'> Result <th>
        <tr><td> 1 <td> Team 1 <td> - <td> Team 2 <td> <span class='goal1'> 0</span> <td class='ressep'> <span>-</span> <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 1 <td> Team 3 <td> - <td> Team 4 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 2 <td> Team 4 <td> - <td> Team 1 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 2 <td> Team 2 <td> - <td> Team 3 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 3 <td> Team 1 <td> - <td> Team 3 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 3 <td> Team 4 <td> - <td> Team 2 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 4 <td> Team 3 <td> - <td> Team 1 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 4 <td> Team 2 <td> - <td> Team 4 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 5 <td> Team 2 <td> - <td> Team 1 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 5 <td> Team 4 <td> - <td> Team 3 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 6 <td> Team 1 <td> - <td> Team 4 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
        <tr><td> 6 <td> Team 3 <td> - <td> Team 2 <td> <span class='goal1'> 0</span> <td class='ressep'> - <td> <span class='goal2'> 0</span> <td> <img src='img/rotate_bottom.png'>
      </table>
    </div>
  </div>

  <div id='rightdiv'>
    <div id='currentpos'>
      <h3> Current standings <span id='helptable'>(?)</span></h3>
      <table class='table'>
        <colgroup>
          <col class='clubname'>
          <col class='country'>
          <col><col><col><col>
        </colgroup>
        <tr> <th> Team <th> <th> P <th> W-D-L <th> Pts <th> Goals
        <tr class='cl1st'> <td> Team1 <td> <img src='./img/den.png' title='Den'> <td> 0 <td> 0-0-0 <td> 0 <td> <span class='goal1'> 0</span>-<span class='goal2'> 0</span>
        <tr class='cl2nd'> <td> Team2 <td> <img src='./img/den.png' title='Den'> <td> 0 <td> 0-0-0 <td> 0 <td> <span class='goal1'> 0</span>-<span class='goal2'> 0</span>
        <tr class='cl3rd'> <td> Team3 <td> <img src='./img/den.png' title='Den'> <td> 0 <td> 0-0-0 <td> 0 <td> <span class='goal1'> 0</span>-<span class='goal2'> 0</span>
        <tr class='cl4th'> <td> Team4 <td> <img src='./img/den.png' title='Den'> <td> 0 <td> 0-0-0 <td> 0 <td> <span class='goal1'> 0</span>-<span class='goal2'> 0</span>
      </table>
    </div>

    <h3> Run simulation <span id='helpaction'>(?)</span></h3>
    <div id='action'>
      <div id='run'>
        Run simulation <input id='numsimulations' value='10000'> times <button> Run </button>
        <div id='progressbar'></div>
      </div>
      <div id='simerror'>
      </div>
    </div>

    <div id='results'>
      <h3> Result of last simulation <span id='helpresult'>(?)</span></h3>
      <table class='table'>
        <colgroup>
          <col class='clubname'>
          <col class='country'>
          <col><col><col><col><col>
        </colgroup>
        <tr> <th> Team  <th> <th title='Number of points averaged over all simulations'> Avg P 
             <th class='pvalue' title='Probability for club to end on 1st place in group'> 1<span class='super'>st</span> 
             <th class='pvalue' title='Probability for club to end on 2nd place in group'> 2<span class='super'>nd</span>
             <th class='pvalue' title='Probability for club to end on 3rd place in group'> 3<span class='super'>rd</span> 
             <th class='pvalue' title='Probability for club to end on 4th place in group'> 4<span class='super'>th</span>
        <tr> <td> Team1 <td> <img src='./img/den.png' title='Den'> <td class='resp'> 0 <td class='pvalue'> 0% <td class='pvalue'> 0% <td class='pvalue'> 0% <td class='pvalue'> 0%
        <tr> <td> Team2 <td> <img src='./img/den.png' title='Den'> <td class='resp'> 0 <td class='pvalue'> 0% <td class='pvalue'> 0% <td class='pvalue'> 0% <td class='pvalue'> 0%
        <tr> <td> Team3 <td> <img src='./img/den.png' title='Den'> <td class='resp'> 0 <td class='pvalue'> 0% <td class='pvalue'> 0% <td class='pvalue'> 0% <td class='pvalue'> 0%
        <tr> <td> Team4 <td> <img src='./img/den.png' title='Den'> <td class='resp'> 0 <td class='pvalue'> 0% <td class='pvalue'> 0% <td class='pvalue'> 0% <td class='pvalue'> 0%
      </table>
    </div>
    <div id='resultcompare'>
      <h3> Change between last 2 simulations <span id='helpchange'>(?)</span></h3>
      <table class='table'>
        <colgroup>
          <col class='clubname'>
          <col class='country'>
          <col><col><col><col><col>
        </colgroup>
        <tr> <th> Team  <th> <th title='Change in number of points, compared to previous simulation.'> Avg P 
             <th class='pvalue' title='Change in probability for club to end on 1st place in group'> 1<span class='super'>st</span> 
             <th class='pvalue' title='Change in probability for club to end on 2nd place in group'> 2<span class='super'>nd</span>
             <th class='pvalue' title='Change in probability for club to end on 3rd place in group'> 3<span class='super'>rd</span> 
             <th class='pvalue' title='Change in probability for club to end on 4th place in group'> 4<span class='super'>th</span>
        <tr> <td> Team1 <td> <img src='./img/den.png' title='Den'> <td class='resp'> +0 <td class='pvalue'> +0% <td class='pvalue'> +0% <td class='pvalue'> +0% <td class='pvalue'> +0%
        <tr> <td> Team2 <td> <img src='./img/den.png' title='Den'> <td class='resp'> +0 <td class='pvalue'> +0% <td class='pvalue'> +0% <td class='pvalue'> +0% <td class='pvalue'> +0%
        <tr> <td> Team3 <td> <img src='./img/den.png' title='Den'> <td class='resp'> +0 <td class='pvalue'> +0% <td class='pvalue'> +0% <td class='pvalue'> +0% <td class='pvalue'> +0%
        <tr> <td> Team4 <td> <img src='./img/den.png' title='Den'> <td class='resp'> +0 <td class='pvalue'> +0% <td class='pvalue'> +0% <td class='pvalue'> +0% <td class='pvalue'> +0%
      </table>
    </div>
  </div>
